* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 2rem;
}

.BBB {
    width: 100%;
    /* margin-bottom: 1rem; */
    padding:1rem 2rem;
    text-align: center;
    /* padding-bottom: 2rem; */
    background-color: rgb(7,14,32);
    /* justify-content: center; */
    /* align-items: center; */
    /* display: flex; */
    z-index: 99;
    color: white;
    top: 0%;
    position: fixed;

}

.BBB a {
    color: yellow;
}

.nav-1 {
    display: none;
}

.nav {
    width: 100%;
    position: relative;
    top: 50px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.list {
    justify-content: center;
    align-items: center;
    display: flex;
}

nav h1 {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 2rem;
    font-size: 4rem;
}

ul li {
    font-size: 1.7rem;
    font-weight: 200;
}

li a {
    color: black;
}

.list .ex {
    font-size: 4rem;
    margin-bottom: 0.5rem;
}

.ex a {
    color: black;
}

.nd {
    align-items: center;
    justify-content: center;
    display: flex;
}

button {
    margin-right: 2rem;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border: none;
    background-color: yellow;
}

.nd button:nth-child(2) {
    background-color: rgb(243, 245, 247);
    /* margin-right: 8rem; */
}

.nd a {
    margin: 2rem;
    border-radius: 10%;
    padding: 1rem 2rem 1rem 2rem;
    border: 0px solid;
    color: #000;
}

.fit li a {
    font-size: 2rem;
    font-weight: 800;
    background-color: rgb(255, 222, 2);
}

.snn li a {
    font-size: 2rem;
    font-weight: 700;
    background-color: rgb(243, 245, 247);
}

.main-1 {
    background: url(/Exness.gif);
    height: 600px;
    /* background: red; */
    background-position: center;
    background-repeat: no-repeat;
    place-content: center;
    display: grid;
    padding-bottom: 2rem;
    width: 100%;
}

.body h1 {
    width: 100%;
    text-align: center;
    /* margin-bottom: rem; */
    font-size: 4rem;
    font-weight: 300;
}

.h2 h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1rem;
}



.pp p {
    text-align: center;
    font-size: 20px;
    max-width: 13cm;
    margin-bottom: 2rem;
}

.rgff {
    margin-bottom: 6rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.rgg {
    margin-right: 1rem;
    background-color: yellow;
    padding: 1rem 1rem 1rem 1rem;
    border: 0PX solid;
}

.rgg a {
    color: #000;
    font-size: 1rem;
    font-weight: 800;
}

.free-demo {
    margin-right: 1rem;
    background-color: rgb(216, 217, 221);
    padding: 1rem 1rem 1rem 1rem;
    border: 0PX solid;
}

.free-demo a {
    color: #000;
    font-size: 1rem;
    font-weight: 800;
}

.main-2 hr {
    width: 80%;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.ion {
    /* margin-bottom: 2rem; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    gap: 7rem;
}

.ion ion-icon {
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

.i {
    max-width: 4cm;
    justify-content: center;
    align-items: center;
    display: flex;
}

.head {
    width: 100%;
    padding: 1rem;
    /* height: 2000px; */
    background-color: rgb(7, 14, 32);
    padding-top: 9rem;
}

.header h1 {
    /* justify-content: center;
    align-items: center;
    display: flex; */
    text-align: center;
    font-size: 3rem;
    color: white;
    padding-bottom: 2rem;
    padding-top: 2rem;
    /* margin-bottom: 2rem; */
}

.cointainer1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* justify-content: center;
    align-items: center;
    display: flex; */
}

.withdraw {
    /* margin-right: 1rem; */
    width: 100%;
    /* height: 600px; */
    /* background-color: rgb(7, 14, 32); */
    /* justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: 1fr 1f 1fr;
}

.box111 {
    /* width: 100%; */
    /* height: 200px;    */
    justify-content: center;
    text-align: center;
}

.with-draw {
    justify-content: center;
    align-items: center;
    display: flex;

}

.with-draw h1 {
    padding: 0.5rem;
    font-size: 16px;
    border: 1px solid rgb(108, 133, 149);
    background-color: rgb(108, 133, 149);
    border-radius: 2.7rem;
    color: white;
    margin-bottom: 1rem;
}

.box111 h2 {
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.img-txt>img{
    width: 400px;
}
.box111 p {
    font-size: 1.4rem;
    color: white;
}

.header p {
    color: white;
    text-align: center;
    font-size: 1.4rem;
}

.table {
    margin-top: 4rem;
    margin-left: 5rem;
    width: 80%;
    border-collapse: collapse;
}

.table th {
    color: rgb(119, 124, 134);
    text-align: left;
}

.flex {
    align-items: center;
    /* justify-content: space-aro; */
    display: flex;
}

.flex>img {
    width: 30px;
    height: 30px;
}

.table td {
    padding-top: 2rem;
    /* padding-bottom: 2rem; */
    color: white;
    border-bottom: 1px solid white;
}

.table tr p {
    color: rgb(119, 124, 134);
}

.table tr td a {
    color: rgb(57, 63, 78);
}

.btn-2 {
    margin-top: 4rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.btn-2 button:nth-child(2) {
    border: 0px solid;
    border-radius: 2rem;
    color: white;
    background-color: rgb(23, 33, 51);
}

.btn-2 button:nth-child(1) {
    border: 1px solid;
    border-radius: 2rem;
    background-color: rgb(255, 222, 2);
}

.box1111 {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    /* height: 700px; */
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    display: flex;
    /* flex-wrap: wrap; */
    padding: 2rem;
}

.immg {
    height: 400px;
}

.immg>img {
    height: 400px;
    width: 500px;
}

.box-111 {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    /* width: 45%; */
    /* margin-left: 2rem; */
}

.box-111 h1 {
    font-size: 3rem;
}

.box-111 p {
    /* padding: 1rem 0rem; */
    font-size: 25px;
    font-weight: 300;
}

.box-111 p a {
    /* margin-bottom: 2rem; */
    color: rgb(149, 153, 155);
}

.box-down {
    display: flex;
    width: 100%;
    /* padding: 1rem 2rem; */
    justify-content: space-between;
    align-items: center;
    padding: 0rem 4rem;
}

.security h1 {
    font-size: 3rem;
}

.security p {
    /* max-width: 19cm; */
    padding: 1rem 0rem;
    font-size: 1rem;
}

.security a {
    color: rgb(149, 153, 155)
}

.security p a:hover {
    text-decoration: underline;
}


.security-1>img {
    width: 500px;
    height: 350px;
}

.Trade {
    padding: 3rem 0rem;
    text-align: center;
}

.Trade h1 {
    font-size: 40px;
}

.Trade p {
    font-size: 25px;
}

.table-1 {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 2rem;
}

.trillon,
.billion,
.k,
.trust {
    padding-left: 2rem;
    padding-right: 1rem;
    border-right: 1px solid black;
    /* border-collapse:collapse;  */
}

.table-2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.trillon,
.billion,
.k,
.trust>h1{
    font-size: 2rem;
}
.table-2 p {
    font-size: 30px;
}

.stay {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 2rem;
}

.stay-1 h1 {
    text-align: center;
    font-size: 40px;
}

.stay-1 p {
    text-align: center;
    color: rgb(114, 119, 122);
    font-size: 25px;
}

.tesla-box {
    width: 100%;
    padding: 0rem 2rem;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.tsla-box a {
    display: grid;
    height: 450px;
    overflow: hidden;

    border: 1px solid;
    border-radius: 1rem;
}

.tsla-box img {
    width: 100%;
}

.tsla-box a h4 {
    margin-left: 2rem;
    text-align: left;
    color: rgb(108, 133, 149);
    border-radius: 2rem;
    display: inline-block;
}

.tsla-box p {
    margin: 2rem;
    padding: 0.5rem;
    color: #000;
    font-size: 1.9rem;
}

.background-broker {
    width: 100%;
    height: 200px;
    background-image: url(/bak.jpg);
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
}

.toaaa {
    width: 100%;
    height: 500px;
}

.toaa {
    width: 90%;
    /* height: 200px; */
    background-color: rgb(7, 14, 32);
    justify-content: space-between;
    align-items: center;
    display: flex;
    /* flex-wrap: wrap; */
    position: relative;
    top: 100px;
    padding: 2rem;
}

.today h1 {
    font-size: 30px;
    color: white;
}

.today p {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    color: azure;
}

.btn-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-4 a {
    padding: 1rem;
    background-color: yellow;
    color: black;
    border: 0px solid;
}

.btn-4 a:nth-child(2) {
    color: white;
    /* padding: 10px    2rem; */
    background-color: rgb(23, 33, 51);
}

.nsssssss {
    /* position: absolute; */
    /* background-color: aquamarine; */
    height: 700px;
    width: 100%;
    justify-content: center;
    padding-left: 3rem;

}

.nssss h1 {
    margin-bottom: 5rem;
    font-size: 4rem;
    color: red;
}

.x {
    /* text-align: center; */
    width: 100%;
    height: 500px;
}

.table-4 {
    width: 100%;
    grid-gap: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.table-4 p a {
    max-width: 5cm;
    color: rgb(137, 141, 143);
}

.svg {
    padding-top: 5rem;
    text-align: left;
    padding-left: 2rem;
}

.svghr {
    margin: 2rem;
}

.svg {
    font-size: 1.2rem;
    flex-wrap: wrap;
    color: rgb(178, 180, 184);
}

.svgh2 {
    font-size: 1rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.svgh22 {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 3rem;
}

.svgh22 h2 {
    font-size: 1rem;
}

.ham-menu {
    position: absolute;
    right: 0;
    top: 0px;
    
    /* background-color: blueviolet;  */
    width: 100%;
    height: 60px;
    z-index: 0;
    display: none;
}

.toggler {
    width: 40px;
    height: 40px;
    /* border-radius: 50%; */
    position: absolute;
    /* top: 20px; */
    right: 1rem;
    z-index: 4;
    opacity: 0;
}

.menu-1 {
    /* background-color: black; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    /* top: 20px; */
    right: 1rem;
}

.menu-1>div {
    background-color: rgb(0, 0, 0);
    width: 70%;
    height: 2px;
    position: relative;
    z-index: 3;
}

.menu-1>div::after {
    /* background-color: red; */
    width: 100%;
    top: -8px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    content: '';
    position: absolute;
}

.menu-1>div::before {
    /* background-color: red; */
    width: 100%;
    top: 8px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    content: '';
    position: absolute;
}

.toggler:checked+.menu-1>div {
    transform: rotate(135deg);
}

/* .toggler:checked:hover + .menu-1 >div{
        transform: rotate(225deg);
    }     */
.toggler:checked+.menu-1>div::after,
.toggler:checked+.menu-1>div::before {
    transform: rotate(90deg);
    top: 0;
}

.toggler:checked+.menu-1+.list-1 {
    translate: 0;
}

.list-1 {
    position: relative;
    margin-right: 8rem;
    background-color: #ffffff;
    width: 100%;
    height: 600px;
    top: 0;
    color: rgb(12, 6, 6);
    translate: 100%;
    transition: translate 0.5s;
}

.h-exness {
    width: 93%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    /* background: red; */
    display: flex;
    padding: 0rem 2rem;
}

.h-exness>h1 {
    font-size: 4rem;
    margin: 0%;
    font-weight: 600;
}

.h-exness>p {
    font-size: 16px;
    font-weight: 100;
}

.two {
    display: none;
}

.exness>h1 {
    font-size: 2rem;
}

@media (max-width:1200px) {
    button {
        margin-right: 1rem;
        font-size: 1rem;
        padding: .7rem 1rem;
    }

    ul li {
        font-size: 1.2em;
        font-weight: 200;
    }

    .list .ex {
        font-size: 3rem;
    }

    .body h1 {
        text-align: center;
        font-size: 4rem;
    }

    .h2 h2 {
        font-size: 3rem;
        text-align: center;
    }

    .img-txt>img {
        width: 400px;
    }

    .Trade h1 {
        font-size: 3rem;
    }

    .Trade p {
        font-size: 2rem;
    }

    .trillon,
.billion,
.k,
.trust>h1 {
        font-size: 1rem;
    }
}

@media (max-width:940px) {
    .box111 h2 {
        font-size: 20px;
    }

    .box111 p {
        font-size: 15px;
    }

    .img-txt>img {
        width: 300px;
    }

    .immg>img {
        width: 300px;
        height: 300px;
    }

    .security-1>img {
        width: 300px;
        height: 400px;
    }

    .nav {
        display: none;
    }

    .sign-ham {
        position: relative;
        top: 0%;
    }
    .ion {
        gap: 4rem;
    }
    .nav-1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        display: flex;
        position: fixed;
        top: 70px;
        width: 100%;
        background-color: rgb(134, 56, 56);
        padding: 0rem 2rem;
    }

    .main-1 {
        margin-top: 10rem;
        place-content: center;
        display: grid;
    }

    .two {
        position: fixed;
        width: 100%;
        top: 50px;
        display: block;
        background: blue;
    }

    .width-100 {
        display: flex;
        position: relative;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        /* z-index: 999; */
        background-color: rgb(255, 255, 255);
    }

    .ham-menu {
        display: block;
    }

    .header>h1 {
        font-size: 25px;

    }
    .immg {
        height: 300px;
        width: 450px;
       
    }
    .box-111 p {
        /* padding: 1rem 0rem; */
        font-size: 1rem;
        font-weight: 300;
    }
    .security h1 {
        font-size: 2rem;
    }
    .table-2 p {
        font-size: 20px;
    }
    .Trade>h1 {
        font-size: 35px;
        font-weight: 300;
    }
    .box-111 h1 {
        font-size: 2rem;
    }
    .Trade>p {
        font-size: 20px;
    }

    .stay-1>h1 {
        font-size: 35px;
        font-weight: 300;
    }

    .stay-1>p {
        max-width: 13cm;
        font-size: 20px;
    }
}

@media (max-width:741px) {
    .table tr th:nth-child(2) {
        display: none;
    }

    .table tr td:nth-child(2) {
        display: none;
        /* background-color: red; */
    }

    .table tr th:nth-child(4) {
        display: none;
    }

    .table tr td:nth-child(4) {
        display: none;
    }

    .toaa {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px.1fr));
    }
    .table {
        margin-top: 4rem;
        margin-left: 1rem;
    }
    .btn-4 a {
        padding: 1rem 2rem;
    }
    .img-txt>img{
        width: 250px;
    }
    .box-down{
        display: grid;
        place-content: center;
        width: 100%;
        flex-wrap: wrap;
     }
     .immg>img{
        width: 100%;
        /* transform: translate(40%); */
     }
     .box1111{
        width: 100%;
      display: grid;
      place-content: center;
    }
    
}

@media (max-width:550px) {
    .cointainer1{
        display: grid;
        place-content: center;
    }
    .withdraw{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr));   
    }
    .img-txt{
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .ion {
        gap: 2rem;
    }
    .header p {
        font-size: 1rem;
        font-weight: 200;
    }
    .immg{
        width: 300px;
    }
    .immg>img{
        width: 290px;
    }
    
}
@media (max-width:400px) {
  
}